:root {
    --überschrift_1_farbe: #fff;
    --überschrift_2_farbe: #fff;
    --überschrift_3_farbe: #76f9f9;
    --überschrift_4_farbe: #fff;
    --überschrift_5_farbe: #76f9f9;
    --code_farbe: #80FFFD;
    --absatz_farbe: #5d8381;
    --contain_background_color: #0d0e1195;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #15191f;
    background-image: url("png/background.png");
    height: 100%;
    overflow-x: hidden;
}

h1 {
    margin-top: 8rem;
    color: var(--überschrift_1_farbe);
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    color: var(--überschrift_3_farbe);
}

h4 {
    font-size: 2rem;
    margin-top: 1.2rem;
    color: var(--überschrift_4_farbe);
    font-weight: bold;
}

h5 {
    font-size: 1.5rem;
    color: var(--überschrift_5_farbe);
    margin-top: 1.2rem;
}

a {
    text-decoration: none;

}

i {
    color: var(--code_farbe);
}

code {
    color: var(--code_farbe);
    justify-content: center;
    text-align: left;
}

ul {
    text-align: left;
}

li {
    margin-top: 0.3vh;
}

strong {
    font-size: 110%;
    color: var(--code_farbe);
}

a {
    text-decoration: none;
    color: #a4b1cd;
}

/*------------------------ TAGS ------------------------*/

.menubar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-color: #0d0e1196;
    backdrop-filter: blur(0.25rem);
    padding: 28px 12%;
    transition: all 0.50s ease;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    height: 4.5rem;
}

.undercontent {
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.menubar img {
    height: 2rem;
    width: auto;
    padding: 0;
    margin: 0;
}

.menubar a {
    color: #a4b1cd;
    transition: all 0.2s;
}

.menubar a:hover {
    color: #fff;
}

.content {
    color: var(--absatz_farbe);
    text-align: center;
}

.choosemenu {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
}

.contain {
    width: 42rem;
    height: auto;
    transition: all 0.4s;
    margin: 2.5rem;
    border: 2px solid #fff;
    padding: 1rem;
    background-color: var(--contain_background_color);
    padding: 2rem;
    border-radius: 1rem;
}

.container {
    margin-top: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2.5rem;
}

.window {
    width: 25rem;
    height: auto;
    transition: all 0.4s;
    margin: 2.5rem;
    border: 2px solid #fff;
    padding: 1rem;
    background-color: #10182331;
    border-radius: 1rem;
}

.window:hover {
    transform: translateY(-8%);
    border: 4px solid var(--code_farbe);
    background-color: #00000070;
}

.window img {
    width: 50%;
    transition: all 2.5s;
    background-color: #ffffff14;
    border-radius: 1rem;
}

.window:hover img {
    transform: rotateY(360deg);
}

.contain iframe {
    width: 100%;
    height: 25rem;
}

.goto {
    color: #fff;
}

.goto:hover {
    color: var(--code_farbe);
}

.footer {
    color: var(--code_farbe);
    font-size: 1.3rem;
    border-radius: 2rem;
    background-color: #0d0e11d2;
    text-align: center;
    padding: 10px;
    border: 0.3rem double black;
    position: relative;
}

.typewriter h2 {
    font-size: 2.6rem;
    border: 0 0 0 0;
    width: fit-content;
    display: flex;
    overflow: hidden;
    border-right: .15em solid var(--code_farbe);
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--code_farbe);
    }
}